[Unit]
Description=Mirror Network Status

[Service]
User=pi
Group=pi
ExecStart=/home/pi/mirror_lcd/status.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
Alias=mirror_status.service
